body {
  margin: 0;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: #001011;
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h1 {
  font-size: 80px;
  color: #001011;
}

p {

  font-family: Courier;
  color: #001011;
}

.top-container {
background-color: #97C8EB;
position: relative;
padding-top: 100px;

}
/*
.middle-container {
background-color: red;
height: 200px;
width: 200px;
}

.bottom-container {
background-color: blue;
height: 200px;
width: 200px;
}
*/
.top-cloud {
position: absolute;
right: 300px;
top: 50px;


}

.bottom-cloud {
position: absolute;
left: 300px;
bottom: 300px;

}

.no-margin, no-margin2 {
  margin-top: 0;
  margin-bottom: 0;
}


.no-margin2 {
  height: 70px;
}
